body {
    background-image: url("/paisaje.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 30px;
    
  
  }
  .titulo {
   background-color: rgba(165, 42, 42, 20%);
   text-align: center;
   margin-top: 20px;
   margin-left: 90px;
   margin-bottom: 20px;
   margin-right: 90px;
  }
  .video {
     justify-content: center;
  }
  .texto1 {
    background-color: rgba(255, 165, 0, 10%);
    text-align: left;
    margin-top: 40px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 80%;
  
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 40px;
  }
  .parrafo {
    background-color: rgba(255, 255, 255, 30%);
    text-align: center;
    margin-top: 20%;
    margin-left: 20%;
    margin-bottom: 20%;
    margin-right: 20%;
  
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
  }
  #contenedorpadre{
    margin: 20%;
    
  }
  .texto2 {
    background-color: rgba(255, 165, 0, 10%);
    text-align: left;
    margin-top: 40px;
    margin-left: 10px;
    margin-bottom: 0px;
    margin-right: 80%;
  
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 40px;
  }
  
  .texto3 {
    background-color: rgba(255, 165, 0, 10%);
    text-align: left;
    margin-top: 40px;
    margin-left: 10px;
    margin-bottom: 0px;
    margin-right: 80%;
  
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 40px;
  }
  
  #contenedorpadre2{
    margin: 20%;
  }
  
  #cont3{
    text-align: center;
    margin: 20%;
  
  }
  h2{
    margin: 10%;
    position: absolute;
  }
  .borde{
    color: brown;
    text-shadow: 
    -1px -1px 0 white,
    1px -1px 0 white,
    1px 1px 0 white,
    -1px 1px 0 white
  }
  .wave{
    color: #09f;
    animation: wave 3s ease-in-out infinite;
  }
  @keyframes wave{
    0%, 100%{
      clip-path: polygon(
        0% 47%,
        10% 48%,
        33% 54%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
    }
  
    50% {
      clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
      );
    }
  
  }
  
  
  
  